# UI & Web Framework
dash==3.0.4
dash-bootstrap-components==1.6.0
gunicorn==23.0.0

# Plotting
plotly==6.1.2

# Core Data & Config
numpy==1.26.4
pandas==2.2.2
pyarrow==20.0.0
python-dateutil==2.8.2
pyyaml==6.0.2
mlflow==3.6.0

